
@font-face {
	font-family: 'Lato Semibold';
	src: url('/fonts/Lato-Semibold.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Heavy';
	src: url('/fonts/Lato-Heavy.ttf');
	font-weight: 900;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

