//fonts
$latoSamibold: 'Lato Semiold', sans-serif;
$latoHeavy: 'Lato Heavy', sans-serif;

$lato: 'Lato', sans-serif;
$popins: 'Poppins', sans-serif;
$cabin: 'Cabin', sans-serif;

//color
$backgroundColor: #ffff;
$titleColor: #0B036B;
$textColor: #000;


// bg
$topBg: url("/img/header/bg-hd.webp");